/.idea/.idea.customStart/.idea/.gitignore
/.idea/.idea.customStart/.idea/encodings.xml
/.idea/.idea.customStart/.idea/indexLayout.xml
/.idea/.idea.customStart/.idea/vcs.xml
/customStart/.idea/.idea.customStart.dir/.idea/.gitignore
/customStart/.idea/.idea.customStart.dir/.idea/encodings.xml
/customStart/.idea/.idea.customStart.dir/.idea/indexLayout.xml
/customStart/.idea/.idea.customStart.dir/.idea/vcs.xml
/customStart/bin/Debug/netstandard2.1/Assembly-CSharp.dll
/customStart/bin/Debug/netstandard2.1/customStart.deps.json
/customStart/bin/Debug/netstandard2.1/customStart.dll
/customStart/bin/Debug/netstandard2.1/customStart.pdb
/customStart/bin/Debug/netstandard2.1/Unity.Burst.dll
/customStart/bin/Debug/netstandard2.1/Unity.Burst.Unsafe.dll
/customStart/bin/Debug/netstandard2.1/Unity.Collections.dll
/customStart/bin/Debug/netstandard2.1/Unity.Collections.LowLevel.ILSupport.dll
/customStart/bin/Debug/netstandard2.1/Unity.InternalAPIEngineBridge.003.dll
/customStart/bin/Debug/netstandard2.1/Unity.Mathematics.dll
/customStart/bin/Debug/netstandard2.1/Unity.RenderPipeline.Universal.ShaderLibrary.dll
/customStart/bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.Runtime.dll
/customStart/bin/Debug/netstandard2.1/Unity.RenderPipelines.Core.Runtime.Shared.dll
/customStart/bin/Debug/netstandard2.1/Unity.RenderPipelines.GPUDriven.Runtime.dll
/customStart/bin/Debug/netstandard2.1/Unity.RenderPipelines.Universal.Runtime.dll
/customStart/bin/Debug/netstandard2.1/Unity.TextMeshPro.dll
/customStart/bin/Debug/netstandard2.1/Unity.VectorGraphics.dll
/customStart/bin/Debug/netstandard2.1/UnityEngine.UI.dll
/customStart/bin/Release/netstandard2.1/Assembly-CSharp.dll
/customStart/bin/Release/netstandard2.1/customStart.deps.json
/customStart/bin/Release/netstandard2.1/customStart.dll
/customStart/bin/Release/netstandard2.1/customStart.pdb
/customStart/bin/Release/netstandard2.1/Unity.Burst.dll
/customStart/bin/Release/netstandard2.1/Unity.Burst.Unsafe.dll
/customStart/bin/Release/netstandard2.1/Unity.Collections.dll
/customStart/bin/Release/netstandard2.1/Unity.Collections.LowLevel.ILSupport.dll
/customStart/bin/Release/netstandard2.1/Unity.InternalAPIEngineBridge.003.dll
/customStart/bin/Release/netstandard2.1/Unity.Mathematics.dll
/customStart/bin/Release/netstandard2.1/Unity.RenderPipeline.Universal.ShaderLibrary.dll
/customStart/bin/Release/netstandard2.1/Unity.RenderPipelines.Core.Runtime.dll
/customStart/bin/Release/netstandard2.1/Unity.RenderPipelines.Core.Runtime.Shared.dll
/customStart/bin/Release/netstandard2.1/Unity.RenderPipelines.GPUDriven.Runtime.dll
/customStart/bin/Release/netstandard2.1/Unity.RenderPipelines.Universal.Runtime.dll
/customStart/bin/Release/netstandard2.1/Unity.TextMeshPro.dll
/customStart/bin/Release/netstandard2.1/Unity.VectorGraphics.dll
/customStart/bin/Release/netstandard2.1/UnityEngine.UI.dll
/customStart/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/customStart/obj/Debug/netstandard2.0/customStart.AssemblyInfo.cs
/customStart/obj/Debug/netstandard2.0/customStart.AssemblyInfoInputs.cache
/customStart/obj/Debug/netstandard2.0/customStart.assets.cache
/customStart/obj/Debug/netstandard2.0/customStart.csproj.AssemblyReference.cache
/customStart/obj/Debug/netstandard2.0/customStart.csproj.CoreCompileInputs.cache
/customStart/obj/Debug/netstandard2.0/customStart.csproj.FileListAbsolute.txt
/customStart/obj/Debug/netstandard2.0/customStart.GeneratedMSBuildEditorConfig.editorconfig
/customStart/obj/Debug/netstandard2.0/MyPluginInfo.cs
/customStart/obj/Debug/netstandard2.1/PublicizedAssemblies/Assembly-CSharp.E452E2D299531504457CAB4427790D98/Assembly-CSharp.dll
/customStart/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/customStart/obj/Debug/netstandard2.1/customSt.CAA01646.Up2Date
/customStart/obj/Debug/netstandard2.1/customStart.AssemblyInfo.cs
/customStart/obj/Debug/netstandard2.1/customStart.AssemblyInfoInputs.cache
/customStart/obj/Debug/netstandard2.1/customStart.assets.cache
/customStart/obj/Debug/netstandard2.1/customStart.csproj.AssemblyReference.cache
/customStart/obj/Debug/netstandard2.1/customStart.csproj.CoreCompileInputs.cache
/customStart/obj/Debug/netstandard2.1/customStart.csproj.FileListAbsolute.txt
/customStart/obj/Debug/netstandard2.1/customStart.dll
/customStart/obj/Debug/netstandard2.1/customStart.GeneratedMSBuildEditorConfig.editorconfig
/customStart/obj/Debug/netstandard2.1/customStart.pdb
/customStart/obj/Debug/netstandard2.1/MyPluginInfo.cs
/customStart/obj/Release/netstandard2.1/PublicizedAssemblies/Assembly-CSharp.E452E2D299531504457CAB4427790D98/Assembly-CSharp.dll
/customStart/obj/Release/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
/customStart/obj/Release/netstandard2.1/customSt.CAA01646.Up2Date
/customStart/obj/Release/netstandard2.1/customStart.AssemblyInfo.cs
/customStart/obj/Release/netstandard2.1/customStart.AssemblyInfoInputs.cache
/customStart/obj/Release/netstandard2.1/customStart.assets.cache
/customStart/obj/Release/netstandard2.1/customStart.csproj.AssemblyReference.cache
/customStart/obj/Release/netstandard2.1/customStart.csproj.CoreCompileInputs.cache
/customStart/obj/Release/netstandard2.1/customStart.csproj.FileListAbsolute.txt
/customStart/obj/Release/netstandard2.1/customStart.dll
/customStart/obj/Release/netstandard2.1/customStart.GeneratedMSBuildEditorConfig.editorconfig
/customStart/obj/Release/netstandard2.1/customStart.pdb
/customStart/obj/Release/netstandard2.1/MyPluginInfo.cs
/customStart/obj/customStart.csproj.nuget.dgspec.json
/customStart/obj/customStart.csproj.nuget.g.props
/customStart/obj/customStart.csproj.nuget.g.targets
/customStart/obj/project.assets.json
/customStart/obj/project.nuget.cache
/customStart/obj/project.packagespec.json
/customStart/obj/rider.project.model.nuget.info
/customStart/obj/rider.project.restore.info